<div class="container-wbvg">

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <img src="/images/slide_1.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Welcome to Geekii</h1>
              <p>At Geekii we connect UX designers, designers and<br>developers for your projects.</p>
              <p><a class="btn btn-large btn-primary" href="/profiles">Check out more</a></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="/images/slide_2.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Are you a UX? A Designer?<br>Or a Developer?</h1>
              <p>Sign up today and connect with someone  <br>more skilled to handle your problems</p>
              <p><a class="btn btn-large btn-primary" href="/profiles">Learn more</a></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="/images/slide_3.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Here to Help</h1>
              <p>Enter your skills and find people to fix your weaknesses. <br>Find partners, freelancers and discover others just like you.</p>
              <p><a class="btn btn-large btn-primary" href="/profiles">SIgn up today</a></p>
            </div>
          </div>
        </div>
      </div>

      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/images/square_purple.png">
          <h2>User Experience</h2>
          <p>Find partners, collaborate to solve your problems. See what skills, trends and products others are using.</p>
          <p><a class="btn btn-default" href="/profiles">See more  &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <img class="img-circle" src="/images/square_brown.png">
          <h2>Design</h2>
          <p>Find partners, collaborate to solve your problems. See what skills, trends and products others are using.</p>
          <p><a class="btn btn-default" href="/profiles">See more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/images/square_red.png">
          <h2>Developer</h2>
          <p>Find partners, collaborate to solve your problems. See what skills, trends and products others are using.</p>
          <p><a class="btn btn-default" href="/profiles">See more  &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    </div>

  <!-- START THE FEATURETTES -->
  <div class="lemon">
    <div class="container marketing">
    <%= render 'home/home_tabs' %>
    </div>
  </div>


   <div class="reddish">
    <div class="featurette">
        <img class="featurette-image img-circle pull-left" data-src="holder.js/512x512">
        <h2 class="featurette-heading"><span class="text-muted">Create a Profile<br>Show your Skills</span></h2>
        <p class="lead lemon">At Geekii we connect UX designers, designers and developers. Set up a profile, post your strengths and connect for your projects.</p>
      </div>
    </div>

      <div class="aubergine">
      <div class="featurette">
        <img class="featurette-image img-circle pull-right" data-src="holder.js/512x512">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead lemon">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    </div>

      <!-- /END THE FEATURETTES -->
</div>