 <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/images/square_purple.png">
          <h2>User Experience</h2>
          <p>Find others to partner, collaborate or solve your problems. See what skills and products others are using.</p>
          <p><a class="btn btn-default" href="#">See more  &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/images/square_brown.png">
          <h2>Design</h2>
          <p>Find others to partner, collaborate or solve your problems. See what skills and products others are using.</p>
          <p><a class="btn btn-default" href="#">See more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/images/square_red.png">
          <h2>Developer</h2>
          <p>Find others to partner, collaborate or solve your problems. See what skills and products others are using.</p>

          <p><a class="btn btn-default" href="#">See more  &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <div class="row">
        <div class="col-lg-12">
          <h2>This site was developed at General Assembly's Sydney Web Development Immersive 12 week course</h2>
          <p>In 8 days! A special thanks to Teachers Joel and Daniel & Ryan Drake</p>
        </div>
      </div>

    </div>