/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #F15A24;
  background-color: #FFCC33;
}

/* Nav   */
.navbar .navbar-inverse .navbar-static-top {
 text-align: center;
}

.navbar-inverse {
// background-color: #604F77;
// background: #c9a1ea; /* Old browsers */
// background: -moz-linear-gradient(top,  #c9a1ea 0%, #865f8e 56%, #604f77 100%); /* FF3.6+ */
// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9a1ea), color-stop(56%,#865f8e), color-stop(100%,#604f77)); /* Chrome,Safari4+ */
// background: -webkit-linear-gradient(top,  #c9a1ea 0%,#865f8e 56%,#604f77 100%); /* Chrome10+,Safari5.1+ */
// background: -o-linear-gradient(top,  #c9a1ea 0%,#865f8e 56%,#604f77 100%); /* Opera 11.10+ */
// background: -ms-linear-gradient(top,  #c9a1ea 0%,#865f8e 56%,#604f77 100%); /* IE10+ */
// background: linear-gradient(to bottom,  #c9a1ea 0%,#865f8e 56%,#604f77 100%); /* W3C */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9a1ea', endColorstr='#604f77',GradientType=0 ); /* IE6-9 */
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #2b2b2b 46%, #111111 63%, #1c1c1c 71%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(46%,#2b2b2b), color-stop(63%,#111111), color-stop(71%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#2b2b2b 46%,#111111 63%,#1c1c1c 71%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4c4c4c 0%,#2b2b2b 46%,#111111 63%,#1c1c1c 71%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4c4c4c 0%,#2b2b2b 46%,#111111 63%,#1c1c1c 71%,#131313 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4c4c4c 0%,#2b2b2b 46%,#111111 63%,#1c1c1c 71%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
// margin-top: -10px;
width: 100%;
padding: 3px 10px;
}

.navbar-brand {
  padding: 10px 0 0 100px;
}

div.nav .pull-right {
 background-color: none;
 padding: 5px;
}

li {
  list-style: none;
  margin-bottom: 5px;
}

input {
  padding: 5px;
  border-radius: 6px;
}

select{
  width: 200px;
  padding: 10px;
}


.pull-right {
  padding-top: 6px;
}

.pull-center {
  width: 60%;
  margin: 0 auto;

}

.btn-primary {

  background-color: #FF00FF;
  border: none;
}

a.btn:hover {

  background-color: #F15A24;
  border: none;
}

.pink{
  color: #FF00FF;
}

.blue {
color: #78C5F9;
font-size: 23px;
}

div.lemon {
  color: #F15A24;
  background-color: #FFCC66;
  width: 100%;
  padding: 60px;
}

div.reddish {
  color: #F15A24;
  background-color: #F15A24;
  width: 100%;
  padding: 60px;
}

div.aubergine {
  color: #F15A24;
  background-color: #604F77;
  width: 100%;
  padding: 60px;
}

div.container-wbvg {
  width: 100%;
  padding: 10px 0 0 0;
  margin-top: 80px;
}

.lemon {
    color: #FFCC66;
}

/* ========= Devise#New Sign-Up =========== */

div.signup_unit {
  width: 600px;
  margin: 0 auto;
  padding: 24px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 100;
  line-height: 24px;
  color: #333;
  display: inline-block;
  background: #ffa73d; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #ffa73d 7%, #ff7c00 37%, #e02104 94%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(7%,#ffa73d), color-stop(37%,#ff7c00), color-stop(94%,#e02104)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #ffa73d 7%,#ff7c00 37%,#e02104 94%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #ffa73d 7%,#ff7c00 37%,#e02104 94%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #ffa73d 7%,#ff7c00 37%,#e02104 94%); /* IE10+ */
  background: linear-gradient(135deg,  #ffa73d 7%,#ff7c00 37%,#e02104 94%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa73d', endColorstr='#e02104',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}


