<hr>
<!-- FOOTER -->
          <div class="container marketing">
            <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 WBvG | WDI Student @GeneralAssembly Sydney &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->